body {
	margin: auto 0;
	font-family: 'Oswald';
	font-size: 22px;
}
/**********************************************************
Nav bar 
**********************************************************/
.menu{
    /*display:flex;*/
    
    font-size:0.7em;
    background-color: #080708;
   
   
}

.main-nav{
	display: flex;
	margin: 0;
	list-style: none;
	text-align: center;
	text-transform: uppercase;
	align-items: center;
	text-decoration: none;
	
	color:#fff;
}


.main-nav li {
	padding:10px;
	margin:10px;
	min-width: 100px;

	
	border-radius: 200px;
	align-items: center;
	color: #FFF;
	font-size: 1.2em;
}

.main-nav a
{
	color:#fff;

	text-decoration: none;
	
}

.main-nav a:hover {
	text-decoration: none;
	
}

a:hover li{
	color: rgba(253, 202, 64, 0.5);
	background-color: rgba(230, 232, 230, 0.1);

}



.main {
	display:flex;
    align-items: center;
    justify-content: center;
    height: 50vh; 
    background-color:rgb(223, 41, 53);
    border-radius:4px;
    border:1px solid rgb(223, 41, 53);
   
}

.carousel-inner{
  width:100%;
  
  margin: 0 auto;
}

.carousel-item img{
   height: 50vh;
   max-width:100%;
   margin: 0 auto;

}



/***********************************************************************
 *  Grid Panel
 **********************************************************************/
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 20px;
}

.gridItem {
    background-color: #444;
    padding:0;
    margin: 20px;
    justify-content: center;
    text-align: center;
}

.gridItem img {
    width: 100%;
}


/***********************************************************************
 *  Footer
 **********************************************************************/
footer {
	text-align:center;
	text-transform: uppercase;
	background-color: #080708;
	color:#fff;
	padding: 10px;

}