body {
	margin: 0 auto;
	font-family: 'Oswald';
	font-size: 22px;
}
/**********************************************************
Nav bar 
**********************************************************/
.menu{
    
    font-size:0.7em;
    background-color: #080708;
    margin: 0;
    width:100%;
   
   
}

.main-nav{
	display: flex;
	margin: 0;
	list-style: none;
	text-align: center;
	text-transform: uppercase;
	
	text-decoration: none;
	
	color:#fff;
	
}


.main-nav li {
	padding:10px;
	
	min-width: 70px;
	border-radius: 200px;
	align-items: center;
	color: #FFF;
	font-size: 1.2em;
}

@media only screen and (max-width: 600px) {
    .main-nav{
    	display:inline-block;
        width:100%;
        padding:0;

    }


 }

.main-nav a
{
	color:#fff;

	text-decoration: none;
	
}

.main-nav a:hover {
	text-decoration: none;
	
}

a:hover li{
	color: rgba(253, 202, 64, 0.5);
	background-color: rgba(230, 232, 230, 0.1);

}

/***********************************************************************
 *  Main Panel
 **********************************************************************/

.main {
	display:flex;
    align-items: center;
    justify-content: center;
    height: 50vh; 
    background-color:rgb(223, 41, 53);
   
    flex-wrap:wrap;
    
   
}



/***********************************************************************
 *  Grid Panel
 **********************************************************************/
.grid {
	display: flex;
    flex-wrap:wrap;
	justify-content:center;

}


.gridItem {
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    position: relative;
  	text-align: center;
  	color: white;
}


.gridItem   img {
	width:400px;
	height:264px;
    transition: transform 1s;
}

.gridItem img:hover {
	-webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
          
}

.textItem {
	position:absolute;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	text-transform: uppercase;
  	font-size: 2em;
}

@media only screen and (max-width: 600px) {
    .gridItem  {
    	
        width:100%;

    }

    .gridItem  img{
    	
        width:100%;

    }


 }

/***********************************************************************
 *  Footer
 **********************************************************************/
.footer {
	text-align:center;
	text-transform: uppercase;
	background-color: #080708;
	color:#fff;
	padding-top: 10px;
	padding-bottom: 10px;
	width:100%;
	margin: auto 0;

}